body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.navbar {
  background-color: #3b5998;
  height          : 3.5rem;
}

.fb-svg {
  fill: #3b5998;
}

.navbar-brand {
  width           : 2rem;
  height          : 2rem;
  background-color: white;
  display         : flex;
}

.navbar-brand svg {
  margin: auto auto -5px auto;
}

#new-message:hover,
.card-title {
  color: #3b5998 !important;
}

#new-message:focus {
  box-shadow: none !important;
}

.card-top {
  display: flex;
}

img.rounded-circle {
  margin-right: 4px !important;
}

.ml-2_5 {
  margin-left: 0.6rem !important;
}

.card {
  box-shadow: 0px 0px 2px 0px rgb(133, 132, 132);
}

.card-img-bottom {
  width: calc(100% - 1.2rem) !important;
}

textarea {
  resize: none !important;
}

.form-control:focus {
  border-color: none !important;
  box-shadow  : 0 0 0 0.25rem white !important;
}

.btn-primary {
  background-color: #3b5998 !important
}


#popover-basic {
  width : 30vw;
  height: 30vh;
}

.popover-body {
  height: 100% !important;
}

.gifs {
  width     : 100%;
  height    : 100%;
  object-fit: contain;
  cursor    : pointer;
}

#grid {
  overflow-y    : auto;
  display       : grid;
  grid-auto-rows: 150px;
  row-gap       : 1em;
}

.added-gif {
  height: 50%;
  width: 50%;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;
}